<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="scripts/jquery-2.1.1.js"></script>
    <script src="scripts/scripts.js"></script>
</head>
<body>

<div class="todo_wrap">
    <form class="todo">
        <p>
            <textarea placeholder="New todo..."></textarea>
        </p>
        <p>
            <input type="submit" value="Add" class="add-submit"/>
        </p>
    </form>
    <ol class="todo_list">
        <li data-id="1">
            <span class="buttons">
                <span class="edit"></span>
                <span class="delete"></span>
            </span>
            <div class="text_wrap">
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut corporis cupiditate expedita iste, molestias possimus quo sapiente sequi. Distinctio doloribus ipsum maxime omnis quidem ratione rem tempora vero voluptatum?
                </div>
            </div>
        </li>
        <li data-id="2">
            <span class="buttons">
                <span class="edit"></span>
                <span class="delete"></span>
            </span>
            <div class="text_wrap">
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut corporis cupiditate expedita iste, molestias possimus quo sapiente sequi. Distinctio doloribus ipsum maxime omnis quidem ratione rem tempora vero voluptatum?</div>
            </div>
        </li>
    </ol>
</div>

</body>
</html>
