<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="scripts/jquery-2.1.1.js"></script>
    <script src="scripts/autogrow.js"></script>
    <script src="scripts/scripts.js"></script>
</head>
<body>

<div class="todo_wrap">
    <div class="username">User: {{username}}</div>
    <input type="submit" value="Exit" class="logout"/>
    <form class="todo">
        <p>
            <input class="insert-text" type="text" placeholder="New todo..." />
            <input class="add-submit" type="submit" value="Add" />
        </p>
    </form>
</div>

</body>
</html>
