#page_404 div{
    width: 500px;
    height: 375px;
    background: url('../images/404.jpg') no-repeat;
    margin: auto;
    margin-top: 10em;
    text-align: center;
}

form.registration{
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 0px 2em;
    text-align: center;
    background: #f6f6f6;
    margin: 0 auto;
    position: relative;
    left: 50%;
    margin-left: -130px;
    margin-top: 15%;
}

form.registration p{
    margin: 0px;
}

form.registration input[name="email"]{
    margin: 10px 0px;
}

form.registration .login-submit{
    cursor: pointer;
    margin-bottom: 10px;
}
form.registration .errMessage{
    color: red;
    display: block;
    height: 20px;
}


.todo_wrap{
    text-align: center;
    margin-top: 5%;
}

.todo_wrap .logout{
    cursor: pointer;
}

form.todo{
    display: block;
}

form.todo .insert-text{
    border-radius: 3px;
    width: 243px;
    margin-right: 0px;
    margin-left: 20px;
}

form.todo .add-submit{
    cursor: pointer;
}

.todo_list{
    display: inline-block;
    margin-left: -40px;
    list-style: none;
}

.todo_list li{
    vertical-align:text-bottom;
    position: relative;
    border-bottom: 1px solid #BAE3FF;
    padding-left: 20px;
}

.todo_list li div.text,
.todo_list li input[type="checkbox"]{
    display: inline-block;
}

.todo_list li input[type="checkbox"]{
    background: #fff;
    border-radius:1px;
    cursor: pointer;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    /*background:url(check_radio_sheet.png) left top no-repeat;*/
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    /*background:url(check_radio_sheet.png) -19px top no-repeat;*/
}



.todo_list .buttons{
    position: absolute;
    right: 10px;
    top: -5px;
    opacity: 0;
    z-index: 999;
    display: block;
}
.todo_list li:hover .buttons{
    opacity: 1;
}
.todo_list li:hover .text{
    border: 1px solid #A9A9A9;
}


.todo_list .buttons .edit{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 9px;
    background: url(../images/edit_icon.png)#fff no-repeat;
}

.todo_list .buttons .delete{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/close_icon.png)#fff no-repeat;
}
.todo_list .buttons .done{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/done.png)#fff no-repeat;
    margin-right: 5px;
}

.todo_list .buttons span{
    cursor: pointer;
}

.todo_list .text{
    text-align: left;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px 5px 3px 7px;
    resize: none;
    width: 300px;
    font: 11px/1em arial, sans-serif;
    margin: 3px;
}

.todo_list .text.done_true{
    text-decoration: line-through;
    color: #c4c4c4;
}



.whatTodo{
    position: fixed;
    top:5px;
    left:10px;
    border:1px solid green;
    padding: 10px 10px 10px 30px;
    color: green;
}
